.discography
  position: relative

  .controls
    position: absolute
    width: 100%
    height: 0px
    top: 50%
    left: 0

    .left, .right
      top: 50%
      opacity: 0.1

      &.actionable
        opacity: 1.0

    .left
      position: absolute
      left: 0
      z-index: 3
    
    .right
      position: absolute
      right: 0
      z-index: 3

  .icon
    +transition(opacity 200ms ease)
    cursor: pointer
    opacity: 0.5

    &:hover
      opacity: 1.0

    &:after
      color: white

  .playlist-container
    +transition(opacity 400ms ease, transform 600ms ease)
    +transform(translateX(250px))
    position: relative
    opacity: 0.0
    z-index: 1

    &.prev
      +transform(translateX(-250px))

    &.active
      opacity: 1.0
      z-index: 2
      +transform(translateX(0px))
