.header
  display: block

  > .inner
    +outer-container
    padding: 0

  .name-container
    text-align: center
    height: 50px
    text-transform: uppercase

    .name
      +transition(color 400ms ease)
      font-size: 32px
      line-height: 50px
      color: darken(white, 25)
      cursor: pointer
      
      &:hover
        color: darken(white, 10)

