.playlist
  display: block
  overflow: hidden
  position: relative

  .title-container
    text-align: center

  h1.playlist-title
    font-size: 18px

  [data-track]
    cursor: pointer

  .player-container
    position: absolute
    +transform(translateY(-50px))
    width: 100%
    top: 50%

  .player
    margin: 20px 0
