@import "base"
@import "shared/reset"
@import "shared/iconography"

html, body
  position: relative
  width: 100%
  height: 100%
  background: $body-bg
  color: $off-white

@import "views/bio"
@import "views/discography"
@import "directives/header"
