.icon
  width: 30px
  height: 30px 
  display: inline-block
  position: relative
  padding: 3px
  background: transparent
  border: none
  outline: none

  &:after
    content: ''
    font-family: 'zocial'
    display: block
    margin: 0 auto
    color: black
    font-size: 20px
    line-height: 30px
    position: relative

  &.ion:after
    font-family: "Ionicons"

  &.resume:after
    content: '\f127'

  &.left:after
    content: '\f150'

  &.right:after
    content: '\f152'

  &.menu:after
    content: '\f20d'

  &.email:after
    content: '\f132'

  &.discography:after
    content: '\f12d'

  &.stop:after
    content: '\f24f'
 
  &.pause:after
    content: '\f210'
  
  &.close:after
    content: '\f12a'
 
  &.play:after
    content: '\f215'

  &.back:after
    content: '\f222'

  &.next:after
    content: '\f223'

  &.twitter:after
    content: '\54'

  &.youtube:after
    content: '\55'

  &.soundcloud:after
    content: '\73'
