{
  "google": {
    "tracking": ""
  },
  "urls": {
    "blog": ""
  },
  "soundcloud": {
    "client_id": "",
    "user_id": ""
  },
  "colors": {
    "tracks": {
      "18712689": "#001122",
      "34865116": "#334455",
    },
    "playlists": {
      "1430502": [
        "#FF00FF",
        "#FFFFFF",
        "#aaFF00"
      ]
    }
  }
}
