.home.view
  position: relative
  width: 100%
  height: 100%

  > .container
    position: relative
    height: 100%

  [mh-discography]
    +calc("height", "100% - 80px")
    position: relative
    margin: 0 0 20px 0
    overflow: hidden

    .playlist-container, .playlist
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
