.footer
  .inner
    .social
      a.twitter(href="https://harkmadley.tumblr.com" target="_blank" rel="noopener")
        i.ion-social-tumblr
      a.soundcloud(href="https://soundcloud.com/hadley-mark" target="_blank" rel="noopener")
        i.fa.fa-soundcloud
      a.youtube(href="http://www.youtube.com/user/MHQ89" target="_blank" rel="noopener")
        i.fa.fa-youtube
      a.icon.ion.email(href="mailto:mark@markhadleymusic.com")
    .links(ng-attr-active="active")
      a.normal(href="http://www.imdb.com/name/nm4837665/" target="_blank" rel="noopener") imdb
