.footer
  .inner
    .social
      a.icon.twitter(href="http://www.twitter.com/markhadleymusic")
      a.icon.soundcloud(href="https://soundcloud.com/hadley-mark")
      a.icon.youtube(href="http://www.youtube.com/user/MHQ89")
      a.icon.ion.email(href="mailto:mark@markhadleymusic.com")
    .links(ng-attr-active="active")
      a.bold(href="/bio" ng-class="{active: active === 'bio'}") bio
      a.bold(href="/discography" ng-class="{active: active === 'discography'}") discography
      a.bold(href="http://www.hotelcinemamusic.com/" target="_blank") hotel cinema
      a.bold(href="http://www.imdb.com/name/nm4837665/" target="_blank") imdb

