.player
  .player-guts(ng-if="track")
    .track-title
      h2.title.light {{track.title()}}
    .player-controls
      .actions
        button.ion.icon.back(ng-click="back()")
        button.ion.icon.stop(ng-click="stop()" ng-if="playing()")
        button.ion.icon.play(ng-click="play()" ng-if="!playing()")
        button.ion.icon.close(ng-click="close()")
        button.ion.icon.next(ng-click="next()")
